@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

nav{
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.nav-image img{
  margin-left: 10px;
  transition: .5s all;
  &:hover{
    background: lightgrey;
    border-radius: 50%;
  }
}

.small_text{
  font-size: 12px;
}
header{
  .container-fluid{
    .head{
      display: flex;
      .left-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        button{
          width: 100px;
        }
      }
      .right-side img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.story_card{
  .image_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
      width: 100px;
    }
  }
}

.splide__list img{
  height: 250px;
  object-fit: cover;
}

.splide__arrow{
  background: transparent;
  & svg{
    fill: white;
  }
}

.splide__slide{
  position: relative;
}

.splide__arrow--next svg{
  transform: scale(1.4);
}

.splide__arrow--prev svg{
  transform: rotate(180deg) scale(1.4);
}

.hidden_info{
  background-color: rgba(0,0,0,.5);
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  transition: .5s all;
}

.splide__slide:hover .hidden_info{
  opacity: 1;
  height: 100%;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.feature_card{
  flex-basis: 33%;
  height: 350px;
  border: 3px solid lightgrey;
  border-top: none;
  border-left: none;
  img{
    margin: auto;
    max-width: 60px;
  }
}

.feature_card:nth-child(3){
  border-right: none;
}

.feature_card:nth-child(4){
  border-bottom: none;
}

.feature_card:nth-child(5){
  border-bottom: none;
}

.feature_card:nth-child(6){
  border-bottom: none;
  border-right: none;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.button_send{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button{
    height: 50px;
    width: 70px;
  }
}

.images_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;

  img{
    margin: 0 10px;
    width: 50px;
    border: 2px solid lightgrey;
    border-radius: 999px;
    transition: .5s all;
    &:hover{
      background-color: grey;
    }
  }
}

@media screen and (max-width : 1250px) {
  .right-side img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width : 850px) {
  .nav-image img{
    display: none;
  }
  .splide__slide{
    width: 50%;
    img{
      width: 100%;
      height: 300px;
    }
  }
  .feature_card{
    flex-basis: 50%;
  }
  .feature_card:nth-child(2){
    border-right: none;
  }
  .feature_card:nth-child(3){
    border-right: 3px solid lightgrey;
  }
  .feature_card:nth-child(4){
    border-right: none;
    border-bottom: 3px solid lightgrey;
  }
}

@media screen and (max-width : 786px) {
}

@media screen and (max-width : 650px) {
  .splide__slide{
    width: 100%;
    & img{
      width: 100%;
      height: 300px;
    }
  }
  .feature_card{
    flex-basis: 100%;
  }
  .feature_card:nth-child(1){
    border-right: none;
  }
  .feature_card:nth-child(3){
    border-right: none;
    border-top: none;
  }
  .feature_card:nth-child(5){
    border-right: none;
    border-bottom: 3px solid lightgrey;
  }
  .feature_card:nth-child(6){
    border-right: none;
    border-bottom: 3px solid lightgrey;
  }
}

@media screen and (max-width : 575px) {
  .right-side{
    margin-top: 15px;
  }
  .image_left{
    margin: 15px 0 15px 0;
  }
}
